@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&family=Mulish:wght@700&family=Roboto:ital,wght@0,100;1,100&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}
body {
  background: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-heading);
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}
a:hover {
  color: var(--color-brand);
}
img {
  width: 100%;
}
/* Navbar css */
.navbar{
    background: var(--color-base)
}
@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 61, 48, 0.7), rgba(2, 24, 19, 0.7)),
      url("../images/app-dev.jpg");
    background-size: cover;
    background-position: center;
  }
  #content-wrapper{
    padding-left: var(--sidbar-width);
  }
}

.navbar .nav-link {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  color: var(--color-brand2);
}

.navbar-brand img{
    border: 8px solid rgb(104, 104, 4);
}
/* Content wrapper */
/* #content-wrapper{
    padding-left: var(--sidbar-width); */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
/* } */
/* Home CSS */
.full-height{
    min-height: 100vh;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    border: rgb(255, 255, 255, 0.1) 2px solid;
}
.text-brand{
    color: var(--color-brand);
}
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background: var(--color-brand);
    border-color: var(--color-brand);
}
.btn-brand:hover{
    background: var(--color-brand2);
}
.custom-call{
    font-weight: 700;
}
.custom-call:hover{
    transition: all 0.4s;
    width: 100%;
    text-decoration: underline;
}
/* services css */
.bg-base{
  background-color: var(--color-base);
}
.shadow-effect{
  transition: all 0.4s;
}
.shadow-effect:hover{
  box-shadow: -6px 6px 0 var(--color-brand);
}
.iconbox{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background:var(--color-brand);
  color: var(--color-base);
}
/* work css */
.full-height-work{
  min-height: 100vh;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  border: rgb(255, 255, 255, 0.1) 2px solid;
}
/* work Card */
.card-custom .custom-img{
  overflow: hidden;
  height: 300px;
  /* width: auto; */
  background-size: cover;
}
.card-custom:hover .custom-img img{
  transition: all 0.4s ease;
  transform: scale(1.1);
}
/* CONTACT */
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}

/* SOCIAL ICONS */
/* .social-icons {

} */

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}